{
  "name": "Jenerated {{name}}",
  "type": "custom",
  "background": {
    "primary": "{{bg}}",
    "diff": {
      "added": "{{green_over_bg_20}}",
      "removed": "{{red_over_bg_20}}"
    }
  },
  "text": {
    "primary": "{{text}}",
    "secondary": "{{text_muted}}",
    "link": "{{accent_soft}}",
    "accent": "{{accent}}",
    "response": "{{text}}"
  },
  "border": {
    "default": "{{border}}",
    "focused": "{{accent}}"
  },
  "status": {
    "success": "{{green}}",
    "warning": "{{yellow}}",
    "error": "{{red}}"
  },
  "ui": {
    "comment": "{{text_muted}}",
    "symbol": "{{accent_pale}}",
    "focus": "{{accent}}",
    "gradient": ["{{accent}}", "{{accent_soft}}", "{{accent_light}}"]
  }
}
